[submodule "FaiaInputSystem"]
	path = FaiaInputSystem
	url = git@github.com:alandlb92/FaiaInputSystem.git
[submodule "libs/thirdparty/assimp"]
	path = libs/thirdparty/assimp
	url = git@github.com:assimp/assimp.git
[submodule "libs/thirdparty/libjpegturbo"]
	path = libs/thirdparty/libjpegturbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "libs/thirdparty/libpng"]
	path = libs/thirdparty/libpng
	url = git@github.com:pnggroup/libpng.git
